.about__achivements{
    margin-top: 3rem;
}

.about__achievements-container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}

.about__achivements-right > p{
    margin: 1.6rem 0 2.5rem;
}

.achievements__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.achievement__card{
    background: var(--color-bg-1);
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
    transition: var(--transition);
}

.achievement__card:hover{
    background: var(--color-bg-2);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}

.achievement__icon{
    background: var(--color-danger);
    padding: 0.6rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.achievement__card:nth-child(2) .achievement__icon{
    background: var(--color-success);
}

.achievement__card:nth-child(3) .achievement__icon{
    background: var(--color-primary);
}

.achievement__card p{
    margin-top: 1rem;
}

