/* ============ TEAM ================ */

.team {
  background: var(--color-bg-1);
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.team__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.team__member {
  background: var(--color-bg-2);
  padding: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  position: relative;
  overflow: hidden;
  border-radius: 5%;
}

.team__member:hover {
  background: var(--team-hover);
  box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
  border-color: var(--color-primary);
}

.team__member-image img {
  -webkit-filter: sepia(100%);
	filter: sepia(30%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.team__member:hover img {
  -webkit-filter: sepia(0);
	filter: sepia(0);
}

.team__member-info * {
  text-align: center;
  margin-top: 1.4rem;
}

.team__member-info p {
  color: var(--color-dark);
}

.team__member-socials {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -100%;
  display: flex;
  flex-direction: column;
  background: var(--color-primary);
  border-radius: 1rem 0 0 1rem;
  box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
  transition: var(--transition);
}

.team__member:hover .team__member-socials {
  right: 0;
}

.team__member-socials a {
  padding: 1rem;
}

/* ========== MEDIA QUERIES (TABLETS) ============== */

@media screen and (max-width: 1024px) {
  .about__achivements {
    margin-top: 2rem;
  }

  .about__achievements-container {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .about__achievements-container h1 {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 2.5rem;
  }

  .about__achievements-container p {
    text-align: center;
    padding-bottom: 3rem;
    font-size: 1.2rem;
  }


  .about__achievements-left {
    width: 80%;
    margin: 0 auto;
  }

  .team__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .team__member {
    padding: 1rem;
  }

  .team__member h4 {
    font-size: 1.5rem;
  }

  .team__member p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
  }
}

/* ========== MEDIA QUERIES (MOBILE) ============== */

@media screen and (max-width: 600px) {
  .achievements__cards {
    grid-template-columns: 1fr;
    gap: 0.7rem;
  }

  .about__achievements-container h1 {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 2.5rem;
  }

  .about__achievements-container p {
    text-align: center;
    padding-bottom: 3rem;
    font-size: 1.2rem;
  }

  .achievement__card h3 {
    font-size: 2.5rem;
  }

  .achievement__card p {
    font-size: 1.2rem;
  }

  .team__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .team__member {
    padding: 0;
  }

  .team__member h4 {
    font-size: 1.5rem;
  }

  .team__member p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
  }
}
