/* Default CSS  */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
hr,
ol,
ul,
figure {
  padding: 0;
  margin: 0; 
  /* background-color: #eae0d5; */
  /* background-color: #22333b; */
  /* background-color: #0a0908; */
  /* background-color: #c6ac8f; */
  /* background-color: #5e503f; */

/*  background-color: #ffcdb2;
    background-color: #ffb4a2;
    background-color: #e5989b;
    background-color: #b5838d;
    background-color: #6d6875; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  font-weight: 400;
  /* background-color: #fff; */
  margin: 0;
  padding: 0;
  height: 100vh; 
}

/* Navbar */
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

#title .container-fluid {
  padding: 0% 0%;
}

#title .navbar-brand {
  font-weight: 500;
  font-size: 1.5rem;
  padding: 1% 2%;
  margin: 1%;
  background-image: linear-gradient(#ff8c37, #ec3750);
  border-radius: 30px;
  display: inline-block;
  text-decoration: none;
  background-image: linear-gradient(yellow, yellow),
  linear-gradient(#ff8c37, #ec3750);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all 0.2s ease-out;
}

#title .navbar-brand:hover {
  background-size: 100% 5px, auto;
}

#title .nav-link {
  color: #ec3750;
  font-size: 1.5rem;
  margin: 0px 15px;
}

#title .nav-link:hover {
  color: #b12b3c;
  text-decoration: underline;
}

/* Welcome Page */
.transparent {
  text-transform: uppercase;
  font-weight: bold;
  font-family: Impact, Charcoal, sans-serif;
  /* font-family: 'Poppins', Charcoal, sans-serif; */
  font-size: 115px;
  text-align: center;
  margin-top: 0px;
  background-image: linear-gradient(#ff8c37, #ec3750);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#main {
  font-family: "Poppins";
  font-size: 1.5rem;
  /* padding: 10%; */
  text-align: center;
  /* background-image: linear-gradient(rgb(248, 227, 169), rgb(230, 169, 77)); */
}
#main p{
  padding: 0 27%;
  color: white;
}

p span {
  color: #ff8c37;
}

#main h3{
  letter-spacing: 0.2rem;
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Impact, Charcoal, sans-serif;
  /* font-family: 'Poppins', Charcoal, sans-serif; */
  font-size: 3.9rem;
  text-align: center;
  margin-top: 0px;
  /* background-image: linear-gradient(#ff8c37, #ec3750); */
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  margin-bottom: 1rem;
}

#main h1{
  /* font-size: 3.5em; */
  letter-spacing: 0.1rem;
  font-weight: 900;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Impact, Charcoal, sans-serif;
  /* font-family: 'Poppins', Charcoal, sans-serif; */
  font-size: 5.5rem;
  text-align: center;
  margin-top: 0px;
  background-image: linear-gradient(#ff8c37, #ec3750);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  margin-bottom: 1.2rem;

}
 #main #club-name{
  background-color: black;
  /* background-image: linear-gradient(#ff8c37, #ec3750); */
}

#video1{
    z-index: -1;
    zoom: 40%;
    opacity: 0.93;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 50%;
    min-height: 50%;
}