/* ---------- Default CSS ---------- */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
hr,
ol,
ul,
figure {
  padding: 0;
  margin: 0;
}


html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  font-weight: 400;
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* ---------- Navbar ---------- */
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.container img{
  width: 15%;
  margin-top: 1rem;
  border-radius: 1rem;
}

#title .container-fluid {
  padding: 0% 0%;
}

#title .navbar-brand {
  font-weight: 500;
  font-size: 1.5rem;
  padding: 1% 2%;
  margin: 1%;
  background-image: linear-gradient(#ff8c37 #ec3750);
  border-radius: 2rem;
  display: inline-block;
  text-decoration: none;
  background-image: linear-gradient(#ff8c37, #ec3750),
  linear-gradient(#ff8c37, #ec3750);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all 0.2s ease-out;
}


.navbar-dark .navbar-brand{
  color: #fff;
}

.navbar-dark .navbar-brand:hover{
  color: black;
  /* transform: rotate(720deg); */
  transition: all 1.2s ease-in-out;
}

#title .nav-link {
  color: #ec3750;
  font-size: 1.5rem;
  margin: 0px 15px;
}

#title .nav-link:hover {
  /* color: #b12b3c; */
  color: #fff;
  text-decoration: underline;
  transition: all 0.5s ease-in-out;
}

/* ---------- Welcome Page ----------*/
.transparent {
  text-transform: uppercase;
  font-weight: bold;
  font-family: Impact, Charcoal, sans-serif;
  /* font-family: 'Poppins', Charcoal, sans-serif; */
  font-size: 115px;
  text-align: center;
  margin-top: 0px;
  background-image: linear-gradient(#ff8c37, #ec3750);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#main {
  font-family: "Poppins";
  font-size: 1.5rem;
  /* padding: 10%; */
  text-align: center;
  /* background-image: linear-gradient(rgb(248, 227, 169), rgb(230, 169, 77)); */
}
#main p {
  padding: 3% 15%;
  color: white;
}

p span {
  color: #ff8c37;
}

#main h3 {
  letter-spacing: 0.2rem;
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Impact, Charcoal, sans-serif;
  /* font-family: 'Poppins', Charcoal, sans-serif; */
  font-size: 3.9rem;
  text-align: center;
  margin-top: 7rem;
  /* background-image: linear-gradient(#ff8c37, #ec3750); */
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
}

#main h3:hover{
  transform: scale(0.9, 0.9);
  transition: all 1s ease-in-out;
}

#main h1 {
  /* font-size: 3.5em; */
  letter-spacing: 0.1rem;
  font-weight: 900;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 5.5rem;
  text-align: center;
  margin-top: 0;
  background-image: linear-gradient(#ff8c37, #ec3750);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1.2rem;
}

#main h1:hover{
  transform: scale(0.9, 0.9);
  transition: all 1s ease-in-out;
}

#main #club-name {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #ff8c37;
}

#main #club-name:hover{
  color: #ec3750;
  text-decoration-style: wavy;
  text-decoration-color: #ec3750;
  transition: all 1s ease-in-out;
}

#video1 {
  z-index: -1;
  zoom: 40%;
  opacity: 0.93;
  position: absolute;
  right: 0;
  bottom: 0;
  /* top: 30; */
  min-width: 100%;
  min-height: 40%;
}

#main a {
  /* background-color: #ff8c37; */
  color: white;
  padding: 0.5% 1.5%;
  border-radius: 25px;
  text-decoration: none;
  background-image: linear-gradient(#ff8c37, #ec3750);
}

#main a:hover {
  color: black;
  transition: all 1.2s ease-in-out;
}

#intro{
  margin-top: 15rem;
  text-align: center;

}
.hctb #introhctb{
  font-weight: 900;
  background-image:linear-gradient(#33d6a6, #5bc0de);
  border-radius: 2rem;
  padding: 0 1rem;
}
.hctb h2{
  margin-top: 10rem;
}
.hctb h4{
  margin-top: 2.5rem;
  padding: 0rem 6rem;
  margin-bottom: 2rem;
}

#whyhctb h2{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2.5%;
  
}

#whyhctb{
  text-align: center;
}

/* #whyhctb #why{
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #a633d6;
} */

#accordion1{
  margin-left: 20rem;
  font-size: 1.5rem;
  margin-right: 20rem;
  /* color: #ec3750; */
  color: #a633d6;
  /* color: #ff8c37; */
}

.accordion-item{
  border: 2px solid #a633d6;
}


#blearn{
  color: #ff8c37;
}

#whyhctb a {
  /* background-color: #ff8c37; */
  color: white;
  padding: 0.5% 1.5%;
  border-radius: 25px;
  text-decoration: none;
  background-image: linear-gradient(#ff8c37, #ec3750);
  margin-top: 5% 0%;
}

#whyhctb a:hover {
  color: black;
  transition: all 1.2s ease-in-out;
}

#workshop{
  text-align: center;
  margin-top: 5rem;
  background-image:linear-gradient(#5bc0de,#338eda);
  border-radius: 2rem;
  width: 35%;
}

/* Sponsors and Partners */

#sponsors{
  text-align: center;
  /* align-items: center; */
  margin: 5rem 5rem;
  border-radius: 3rem;
  margin-top: 2rem;
  
}

.sponsor{
  background-color: #8492a6;
  border-radius: 30px;
}

#sponsors h2{
  /* border: 2px solid red; */
  background-image:linear-gradient(#5bc0de,#338eda);
  padding: 0.5% 2%;
  border-radius: 25px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin: 5% 0%;
  /* margin-top: 4rem; */

}

.sponsor img{
  width: 10%;
  margin: 3% 5%;
}

.sponsor #lumos{
  width: 30%;
}

.sponsor #hackclub{
  margin-left: 10rem;
}


footer{
  display: flex;
}

#connect{
  font-size: 1.5rem;
  font-weight: 900;
  flex: 2;
  justify-content: center;
  align-items: center;
}

#branding{
  font-size: 1.5rem;
  font-weight: 900;
}

#features{
  align-items: center;
  padding-top: 10%;
  /* padding-left: 10%; */
  margin-left: 20rem;
}

#features li{
  list-style: none;
  align-items: center;
  /* margin-left: 5rem; */
}

#features h3{
  font-size:2.1rem;
  font-weight: 900;
}

.fa-brands{
  font-size: 30px;
  padding: 7px;
  color: black;
}

.feature-box h3{
  margin: -8px;
  /* margin-left: 20px; */
  /* padding: -100px; */
  margin-bottom: 10px;
  margin-right: 20px;
} 
.fa-instagram{
  margin-left: 0px;
  /* background-image: linear-gradient();  */
  

}

.fa-linkedin:hover{
  color: #0072b1;
}


.fa-instagram:hover{
  color: #405de6;
}

.fa-twitter:hover{
  color: #1DA1F2;
}

.fa-youtube:hover{
  color: #FF0000;
}

.feature-box a{
    color: black;
    text-decoration: none;
}

.feature-box a:hover{
  color: #0072b1;
}