.testimonials{
    margin-top: 3rem;
}

.testimonial__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media screen and (max-width: 1024px){
    .testimonial__container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 600px){
    .testimonial__container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
        padding: 0 3rem;
    }

    .testimonials {
        background-color: #5757cd;
        /* background-color: #FF5733; */
        height: 225px;    
    }
}